WebSpiderVS/Debug/*
WebSpiderVS/WebSpiderVS.vcproj.*
WebSpiderVS/WebSpiderVS.ncb
WebSpiderVS/WebSpiderVS.suo

WebcrawlerVS/Debug/*
WebcrawlerVS/WebcrawlerVS.vcproj.*
WebcrawlerVS/WebcrawlerVS.ncb
WebcrawlerVS/WebcrawlerVS.suo