WebSpiderVS/Debug/*
WebSpiderVS/WebSpiderVS.vcproj.*
WebSpiderVS/WebSpiderVS.ncb
WebSpiderVS/WebSpiderVS.suo

WebcrawlerVS/Debug/*
WebcrawlerVS/WebSpiderVS.vcproj.*
WebcrawlerVS/WebSpiderVS.ncb
WebcrawlerVS/WebSpiderVS.suo
